<div ng-controller="WriteBlogPostController as vm" class="row">
  <div class="col s10 offset-s1">
    <form ng-submit="vm.submit()">
      <p>
        Title
      </p>
      <input name="title" ng-model="vm.title" type="text"/>
      <p>
        File Name
      </p>
      <input name="fileName" ng-model="vm.fileName" type="text"/>
      <p>
        Url
      </p>
      <input name="url" ng-model="vm.url" type="text"/>
      <p>
        Summary
      </p>
      <input name="summary" ng-model="vm.summary" type="text"/>
      <p>
        Tags
      </p>
      <input name="tags" ng-model="vm.tags" type="text"/>
      <input type="submit" id="post" value="Post"/>
    </form>
  </div>
</div>
